<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<center> <h1>Clubs ESPRIT</h1>
    <p>Au sein d'esprits, les associations et clubs remplissent plusieurs rôles étant donnent la diversité des motivations qui aiment ceux qui sont à l'origine .Conscients de l'importance de la vie associative, les étudiants jouent un rôle important dans l'elaboration et la transmission des messages aux destinataires. Si dissous la liste des clubs d'esprit n'hésite pas à la comleter</p>
</center>
<center><img src="{{ asset('img/club.jpg') }}"
             alt="octocat" >

</center>
</body>
</html>


